pipeline/incremental_sales.json
{
	"name": "incremental_sales",
	"properties": {
		"activities": [
			{
				"name": "lookupoldwatermarkactivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "oldwatermarkdatabase",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "lookupnewwatermarkactivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select max(lastmodifydate) as newwatermarkvalue\n\nfrom data_source",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "oldwatermarkdatabase",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "incrementalcopyactivity",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lookupoldwatermarkactivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lookupnewwatermarkactivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from data_source \n\nwhere lastmodifydate>'@{activity('lookupoldwatermarkactivity').output.firstRow.watermarkvalue}' \n\nand \n\nlastmodifydate<='@{activity('lookupnewwatermarkactivity').output.firstRow.newwatermarkvalue}' ",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "oldwatermarkdatabase",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "blobforwatermark",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "incrementalcopyactivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"lastmodifydate": {
							"value": {
								"value": "@activity('lookupnewwatermarkactivity').output.firstRow.newwatermarkvalue",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"tablename": {
							"value": {
								"value": "@activity('lookupoldwatermarkactivity').output.firstRow.tablename",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "lsforoldwatermark",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-05-21T20:06:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}